body {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
}

.column {
	flex: 1;
	margin: 1vmax;
	text-align: center;
}

.column img {
	position: relative;
	aspect-ratio: 1/1;
}

.column.hori {
	height: 100%;
}

.column.vert {
	width: 100%;
}

.column.hori img {
	width: 100%;
}

.column.vert img {
	height: 100%;
}